# 编译好的class文件以及来自Maven的构建输出。
target/
release.properties
.mvn/

# Log files
**.log
logs/

# 阻止配置文件与密钥文件等的存储
**.properties
**.key
**.yaml
**.yml

# 允许追踪示例模板文件
!*.properties.example
!*.yaml.example

# 允许其他敏感信息
.env
*.p12
*.jks

#OS 生成的文件
Thumbs.db

### IntelliJ IDEA ###
/.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/
/redCulture.iml
/.dbeaver/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project

.settings/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store